service: default

runtime: go114
instance_class: F1

handlers:
- url: /.*
  script: auto
  secure: always

env_variables:
  # google
  PROJECT_ID: 'xoxo'
  LOCATION_ID: 'europe-west3'
  # app settings
  BASE_URL: 'https://lnkk.host'
  GIN_MODE: 'release'
