service: default

runtime: go112
instance_class: F1

handlers:
- url: /.*
  script: auto
  secure: always

env_variables:
  PROJECT_ID: 'project_id'
  LOCATION_ID: 'europe-west3'
  BASE_URL: 'https://...'
  SLACK_APP_ID: 'xoxo'
  SLACK_CLIENT_ID: 'xoxo'
  SLACK_CLIENT_SECRET: 'xoxo'
  SLACK_SIGNING_SECRET: 'xoxo'
  GIN_MODE: 'release'
